.box-12{
	background-color:#f4f4f4;
	background-size: 100%;
	height:1000px;
	margin-top:109px;
	font-size:20px;
	text-align: center;
}

.box-12 h1{
	padding: 50px 0 20px 0;
}

i {
	font-size:14px;
	color: #c5c7c7;
	padding:10px 0;
	display: inline-block;
}

h2, p{
	font-size:15px;
}

.b-gris{
	background-color: #dddfe0;
	margin:25px 0;
	padding: 30px ;
	box-sizing: border-box;
	text-align:left;
}

.b-ver{
	background-color:#1a2952;
	width:190px;
	padding: 10px;
	text-align: center;
	margin-top: 20px;
	border-radius: 5px;
	font-size:15px; 
}

.fondo{
	background-size:cover;
	height:245px;
	margin:25px 0;
	
}

.uno{
	background-image: url(../img/blog1.jpg);
	
}

.dos{
	background-image: url(../img/profesor_5.jpg);
	
}

.tres{
	background-image: url(../img/instructor_1.jpg);
}