.box-10{
	background-color:#f4f4f4;
	background-size: 100%;
	height:950px;
	margin-top:109px;
	font-size:20px;
	text-align: center;
	padding: 50px 0 40px 0;
}

.trasp-1{
	width:280px;
	height: 130px;
	margin:140px auto 0 auto;
	background-color: rgba(0,0,0,0.7);
	padding: 20px;
	box-sizing: border-box;
	color: white;
	font-size:13px;
	padding:30px;
}
.espacio{
	padding-bottom:20px;
}

.box-11{
	padding-left:40px;
	
}
.b{
	background-size:100% 100%;
	height:430px;
	width:330px;
	margin:10px;
}

.g-9{
	background-image: url(../img/dance_12.jpg);

}
.g-10{
	background-image: url(../img/breakdance.jpg);
	
}
.g-11{
	background-image: url(../img/lirical-jazz.jpg);
	
}
.g-12{
	background-image: url(../img/arabe.jpg);

}
.g-13{
	background-image: url(../img/little.jpg);
	;
}
.g-14{
	background-image: url(../img/yoga.jpg);

}