.fixed{
	position: fixed;
	top:0px;
	background-color:white;
	padding: 20px;
}

form{
	width:450px;
	margin:auto;
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 20px;

}
.titulo{
	color:#192951;
	padding: 20px 0 40px 0;
	font-size: 30px;
}

input, textarea {
	width: 100%;
	border: 1px solid grey;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
}

textarea{
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
}

.boton-4{
	background-color:#192951;
	color:#c4c4c4;
	border-radius: 5px;
	padding: 15px;
	font-size: 17px;
}